# the lines below need to be adapted to your run setup
query.xml /iesl/canvas/beroth/tac/evaluation/eval2013/queries.xml
index /iesl/canvas/beroth/tac/index2013/index
idfile_mapping /iesl/canvas/beroth/tac/index2013/idfile_mapping
rundir $TAC_ROOT/runs/run2013_uschema_patterns

# export the variable or point directly to the model locations
# export TAC_MODELS=/iesl/canvas/beroth/tac/data/relationfactory_models
model $TAC_MODELS/svm/ngram_directed_skip_exact.tuned/
featuremap $TAC_MODELS/svm/ngram_directed_skip_exact.fmap
wikilinks $TAC_MODELS/expansion/enwiki.linktext.counts
# Use uschema patterns here:
shortened_patterns $TAC_MODELS/patterns/uschema_patterns

# the lines below can stay untouched for default settings
makefile $TAC_ROOT/bin/makefile
goal response_shortened_patterns_plus_pp13
relations.config $TAC_ROOT/config/relations2013.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist2013
numcores 2
precision_expansion true
coref false
