query.xml /cl6local/beroth/TAC2/tac_kbp_system/evaluation/eval2013/queries.xml
makefile /nethome/beroth/repos/thesis/experiments/makefile
rundir /cl6local/beroth/TAC2/runs/thesis_2013
goal response_fast_pp13
relations.config $TAC_ROOT/config/relations2013.config
index /cl6local/TAC_CORPORA/2013/index
idfile_mapping /cl6local/TAC_CORPORA/2013/idfile_mapping
model /data/users/beroth/publications/strong_baselines/ngram_directed_skip_exact.tuned/
featuremap /data/users/beroth/publications/strong_baselines/ngram_directed_skip_exact.fmap
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist2013
numcores 10
precision_expansion true
coref false
